body {
    background-image: url('/public/abstract-background.jpg');
}
.big-container {
    
}
.middle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: lightgrey;
    box-shadow: 20px 5px 20px gray;
}
.panel{
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    box-shadow: 20px 5px 20px gray;
}
