body {
    background-image: url('/public/abstract-background.jpg');
}

.ring-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 350px auto;
}
  

.small-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d7d4d4;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
    mask: radial-gradient(circle,
          transparent 60px,  
            gray 62px);
}
  
  
.panel {
  position: absolute;
  left: 40%;
  top: 73%;
  width: 70px;
  height: 90px;
  transform-origin: center -70px;
  text-align: center;
  color: white;
}
  
.panel img {
  width: 65px;
  height: 65px;
  border:1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(193, 190, 190);
  box-shadow: 8px 5px 5px rgba(174, 174, 174, 0.5);
  object-fit: contain;
  display: block;
  margin: 0 auto 5px;
    /* width: 100%;
    height: 100%; */
    transform: rotate(calc(-1 * var(--angle)));
}
.panel p{
    font-size: 14px;
    display: block;
}
  

.p1 { --angle: 0deg; transform: rotate(0deg); }
.p2 { --angle: 17deg; transform: rotate(17deg); }
.p3 { --angle: 34deg; transform: rotate(34deg); }
.p4 { --angle: 51deg; transform: rotate(51deg); }
.p5 { --angle: 68deg; transform: rotate(68deg); }
.p6 { --angle: 85deg; transform: rotate(85deg); }
.p7 { --angle: 102deg; transform: rotate(102deg); }
.p8 { --angle: 119deg; transform: rotate(119deg); }
.p9 { --angle: 136deg; transform: rotate(136deg); }
.p10 { --angle: 153deg; transform: rotate(153deg); }
.p11 { --angle: 170deg; transform: rotate(170deg); }
.p12 { --angle: 187deg; transform: rotate(187deg); }
.p13 { --angle: 204deg; transform: rotate(204deg); }
.p14 { --angle: 221deg; transform: rotate(221deg); }
.p15 { --angle: 238deg; transform: rotate(238deg); }
.p16 { --angle: 255deg; transform: rotate(255deg); }
.p17 { --angle: 272deg; transform: rotate(272deg); }
.p18 { --angle: 289deg; transform: rotate(289deg); }
.p19 { --angle: 307deg; transform: rotate(307deg); }
